<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>


<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">APPRECC</a>
    <!-- Navbar links -->
    <div class="collase navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link"
                                    th:href="@{/usuarios/register}">Registrar</a></li>
        </ul>
    </div>
</nav>

<main class="form-signin w-100 m-auto">
    <form th action="@{/login}" method="post">
        <img class="mb-4" src="/img/egg.png" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Inicio de sesion</h1>

        <div class="form-group">
            <label class="control-label" th:text="${usuario.email}">Correo :</label>
            <input type="email" name="email" th:field="*{email}" class="form-control"
                   placeholder="Digite su email :" required>
        </div>

        <div class="form-group">
            <label class="control-label" th:text="${usuario.password}">Password :</label>
            <input type="password" name="password" th:field="*{password}" class="form-control"
                   placeholder="Digite su password :" required>
        </div>


        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Iniciar Sesion
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
    </form>
</main>
</body>
</html>
